/* appunti css 
colore bg header = azzurro #4ea0ff */
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#header__pagina {
height: 100px;
background-color: #4ea0ff;
background-image: url(../img/pattern.png);
background-size: contain;

}

#logo {
    width: 150px;
   
}

h1 {
    font-weight: 700;
    margin-top: 20px;
}


.link {
    color: #4ea0ff;
    text-decoration: none;
}

.descrizione__immagini {
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.evidenziato {
    background-color: yellow;
}