/* appunti css 
colore bg header = azzurro #4ea0ff */
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
   
}

main {
    margin: 5px;
}
#header__pagina {
height: 100px;
background-color: #4ea0ff;
background-image: url(../img/pattern.png);



}

#logo {
    width: 150px;
   
}

h1 {
    font-weight: 700;
    margin-top: 20px;
}


.link {
    color: #4ea0ff;
    text-decoration: none;
}

.descrizione__immagini {
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.evidenziato {
    background-color: yellow;
}

thead{
    background-color: #4ea0ff;
    color: white;
    font-weight: 500;
}

#lista {
    margin-left: 20px;
}

#prima__th {
    width: 25%;
    text-align: left;
    
}

#seconda__th {
    width: 25%;
    text-align: left;
   
}
#terza__th {
    width: 50%;
    text-align: left;
}
.colorata {
    background-color: rgb(78, 160, 255, 0.5);
}
table {
    margin-bottom: 20px;
}

.immagine{
    color: white;
    
}
.immagine__1 {
    width: 300px;
    height: 200px;
    background-image: url(../img/monitor.jpg);
    margin-bottom: 10px;
}

.immagine__2 {
    width: 300px;
    height: 200px;
    background-image: url(../img/graph.jpg);
}